<footer class="site-footer">
  <div class="wrapper">
    <div>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</div>
    <div class="footer-social">
      <a href="https://github.com/DataSpi" target="_blank" rel="noopener" title="GitHub">
        <img class="footer-icon" src="/assets/logos/github.svg" alt="" />
        GitHub
      </a>
      <a href="https://linkedin.com/in/spyno-kiem" target="_blank" rel="noopener" title="LinkedIn">
        <img class="footer-icon" src="/assets/logos/brand-linkedin.svg" alt="" />
        LinkedIn
      </a>
      <a href="https://fb.com/phamthokiem" target="_blank" rel="noopener" title="Facebook">
        <img class="footer-icon" src="/assets/logos/facebook.svg" alt="" />
        Facebook
      </a>
      <a href="https://spyno.substack.com/" target="_blank" rel="noopener" title="Substack">
        <img class="footer-icon" src="/assets/logos/substack.svg" alt="" />
        Substack
      </a>
    </div>
  </div>
</footer>
